Source: morfologik-stemming
Section: java
Priority: optional
Maintainer: Rail Aliev <rail@i-rs.ru>
Build-Depends:
 debhelper (>= 9),
 cdbs,
 default-jdk,
 maven-debian-helper (>= 1.5),
 libmaven-bundle-plugin-java
Build-Depends-Indep: libcommons-cli-java, libcarrotsearch-hppc-java,
Standards-Version: 3.9.5
Vcs-Bzr: http://bzr.debian.org/users/rail-guest/morfologik-stemming/
Vcs-Browser: http://bzr.debian.org/loggerhead/users/rail-guest/morfologik-stemming
Homepage: http://sourceforge.net/projects/morfologik

Package: libmorfologik-stemming-java
Architecture: all
Depends: ${misc:Depends}
Description: Finite state automaton and stemming engine library
 Java based morfologik-stemming library provides the following fatures:
   - Finite state automaton traversal routines for Jan Daciuk's FSA package.
   - A stemming engine for the Polish language built on top of FSA traversal.
 The library may be used for other languages as well.
